asgiref==3.8.1
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
dotenv==0.9.9
gunicorn==23.0.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
patsy==1.0.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
scipy==1.15.2
six==1.17.0
sqlparse==0.5.3
statsmodels==0.14.4
tzdata==2025.2
